#properties {
  margin: 1em auto;
}

td {
  padding: 0.5em;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:not(:last-child) {
  padding-right: 1em;
}

mat-card:not(:first-of-type) {
  margin-top: 1em;
}

button.action {
  margin-left: 1em;
}

#password-strength {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  mat-progress-spinner {
    margin-top: 1em;
  }
  #strength-icon {
    position: absolute;
    margin-top: 0.2em;
    font-size: 200%;
  }
}

#password-form > div:not(:first-child) {
  margin-bottom: 1em;
}

#register mat-form-field {
  margin-right: 1em;
}

mat-chip.current {
  margin-left: 1em;
}

mat-card-header.padded {
  padding-bottom: 1em;
}

mat-list-item.accent.device * {
  color: inherit;
}
