<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table id="properties">
        <tr>
          <td><label>UserName</label></td>
          <td><span>{{user.username}}</span></td>
        </tr>
        <tr>
          <td><label>Display Name</label></td>
          <td *ngIf="!displayNameControl; else editDisplayNameTemplate">
            <span>{{user.displayName}}</span>
            <button mat-icon-button class="action" matTooltip="Edit DisplayName" color="primary" (click)="editDisplayName()">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td><label>Role</label></td>
          <td><span>{{roles[user.role]}}</span></td>
        </tr>
        <tr>
          <td><label>Email</label></td>
          <td>
            <div>
              <span>{{user.email}}</span>
              <button class="action" *ngIf="!user.emailVerified" mat-flat-button color="warn">Verify</button>
            </div>
          </td>
        </tr>
        <tr>
          <td><label>Mobile Number</label></td>
          <td>
            <div>
              <span>{{user.mobileNumber}}</span>
              <button class="action" *ngIf="!user.mobileNumberVerified" mat-flat-button color="warn">Verify</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label>Password</label>
            <div id="password-strength" *ngIf="passwordForm">
              <mat-progress-spinner mode="determinate" [color]="passwordStrengthColor" [value]="passwordStrength"></mat-progress-spinner>
              <span id="strength-icon">{{passwordStrengthIcon}}</span>
            </div>
          </td>
          <td *ngIf="!passwordForm; else changePasswordTemplate">
            <button mat-stroked-button color="primary" (click)="editPassword()">Change Password</button>
          </td>
        </tr>
      </table>
      <ng-template #editDisplayNameTemplate>
        <td>
          <mat-form-field hintLabel="Edit the DisplayName">
            <input matInput [formControl]="displayNameControl" [errorStateMatcher]="immediateErrors" required>
            <mat-error *ngIf="displayNameControl.invalid">{{getDisplayNameErrorMessage()}}</mat-error>
          </mat-form-field>
          <button mat-icon-button [disabled]="displayNameControl.invalid || displayNameControl.disabled" class="action" type="submit" (click)="saveDisplayName()" matTooltip="Save DisplayName" color="primary">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button [disabled]="displayNameControl.disabled" class="action" matTooltip="Cancel Editing DisplayName" (click)="cancelEditingDisplayName()">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-template>
      <ng-template #changePasswordTemplate>
        <td>
          <form id="password-form" [formGroup]="passwordForm" (submit)="savePassword()">
            <div>
              <mat-form-field>
                <input matInput type="password" formControlName="oldPassword" placeholder="Current Password" [errorStateMatcher]="immediateErrors" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="password" formControlName="newPassword" placeholder="New Password" [errorStateMatcher]="immediateErrors" required>
                <mat-hint *ngIf="passwordStrength">Strength: {{passwordStrength | number: '1.0-0'}}</mat-hint>
                <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('mintrimmedlength')">Min Character Length: {{passwordForm.controls['newPassword'].getError('mintrimmedlength').actual}} of {{passwordForm.controls['newPassword'].getError('mintrimmedlength').min}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput type="password" formControlName="confirmationPassword" placeholder="Confirm New Password" [errorStateMatcher]="parentErrors" required>
                <mat-error *ngIf="passwordForm.hasError('different')">Must match new password</mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">Save</button>
              <button mat-stroked-button (click)="cancelEditingPassword()" class="action">Cancel</button>
            </div>
          </form>
        </td>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="devices">
    <mat-card *ngIf="webauthnService.isAvailable$ | async">
      <mat-card-header class="padded">
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Register this device for login</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form id="register" [formGroup]="registerForm" (submit)="registerDevice()">
          <mat-form-field>
            <mat-label>Device Name</mat-label>
            <input matInput formControlName="deviceName" required>
          </mat-form-field>
          <button mat-flat-button type="submit" color="primary" [disabled]="registerForm.disabled || registerForm.invalid">Register</button>
        </form>
        <div *ngIf="deviceAlreadyRegistered" class="primary">
          This device is already registered
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="padded">
        <mat-card-title>Sessions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <ng-container *ngFor="let device of devices; let first = first">
            <mat-divider *ngIf="!first"></mat-divider>
            <mat-list-item class="device accent">
              <mat-icon matListItemIcon>devices</mat-icon>
              <div mat-line>{{device.name}}<mat-chip class="current" *ngIf="device.current" selected color="primary">Current</mat-chip></div>
              <div mat-line><span *ngIf="device.createdDate">Created {{device.createdDate | luxon: 'short'}},</span> Active {{device.updatedDate | luxon: 'short'}}</div>
              <button mat-icon-button (click)="deleteDevice(device)" [disabled]="deleting" *ngIf="!device.current && device.id" matTooltip="Delete device and associated sessions">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteAllWebSessions()" [disabled]="deleting" *ngIf="!device.id && anySessionsToDelete(device)" matTooltip="Delete all web sessions">
                <mat-icon>delete_sweep</mat-icon>
              </button>
            </mat-list-item>
            <mat-list-item class="session" *ngFor="let session of device.sessions">
              <div mat-line>{{session.name}}<mat-chip class="current" *ngIf="session.current" selected color="primary">Current</mat-chip></div>
              <div mat-line>Created {{session.createdDate | luxon: 'short'}}, Active {{session.updatedDate | luxon: 'short'}}</div>
              <button mat-icon-button (click)="deleteSession(device, session)" [disabled]="deleting" *ngIf="!session.current" matTooltip="Delete session">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <mat-chip-listbox style="display: none;"><!-- empty list to ensure chip styles are imported --></mat-chip-listbox>
  </ng-container>
</div>
