#properties {
  margin: 1em auto;
}

td {
  padding: 0.5em;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:not(:last-child) {
  padding-right: 1em;
}

mat-card:not(:first-of-type) {
  margin-top: 1em;
}

button.action {
  margin-left: 1em;
}
