<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- This empty mat-chip-list is here to allow us to use a mat-chip outside of the list and still get styled.
      If there isn't a mat-chip-list somewhere in the view to bring in the styling, the mat-chips will be unstyled. -->
      <mat-chip-list></mat-chip-list>
      <table id="properties">
        <tr>
          <td><label>UserName</label></td>
          <td><span>{{user.username}}</span></td>
        </tr>
        <tr>
          <td><label>Display Name</label></td>
          <td><span>{{user.displayName}}</span></td>
        </tr>
        <tr>
          <td><label>Role</label></td>
          <td><span>{{roles[user.role]}}</span></td>
        </tr>
        <tr>
          <td><label>Email</label></td>
          <td>
            <div>
              <span>{{user.email}}</span>
              <mat-chip color="warn" selected *ngIf="!user.emailVerified">unverified</mat-chip>
            </div>
          </td>
        </tr>
        <tr>
          <td><label>Mobile Number</label></td>
          <td>
            <div>
              <span>{{user.mobileNumber}}</span>
              <mat-chip color="warn" selected *ngIf="!user.mobileNumberVerified">unverified</mat-chip>
            </div>
          </td>
        </tr>
        <tr>
          <td><label>Multi-Factor Authentication</label></td>
          <td><mat-checkbox [ngModel]="user.multiFactorEnabled" [disabled]="true"></mat-checkbox></td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Notifications</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      notifiations go here
    </mat-card-content>
  </mat-card>
</div>
