<mat-card>
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <mat-slide-toggle (change)="me.enablePushNotifications = $event.checked" [checked]="me.enablePushNotifications">Push Notifications</mat-slide-toggle>
      <button class="test" mat-flat-button color="primary" (click)="sendTestMessageToThisDevice()" [disabled]="!pushService.PushEnabled || !me.enablePushNotifications">Test This Device</button>
      <button class="test" mat-flat-button color="accent" (click)="sendTestMessageToAllDevices()" [disabled]="!pushService.PushEnabled || !me.enablePushNotifications">Test All Devices</button>
    </section>
  </mat-card-content>
</mat-card>
