@import 'app.component.shared-spacing.scss';

#sidenav .logo {
  height: 32px;
  object-fit: contain;
}

#page {
  height: 100vh;
}

#navbar {
  height: $navHeight;
}

#main {
  height: $paddedViewHeight;
  padding: $mainPadding;
  overflow: auto;
}
