@import 'app.component.shared-spacing.scss';

#page {
  height: 100vh;
}

#navbar {
  height: $navHeight;
}

.update {
  font-weight: bold;
}

#main {
  height: $paddedViewHeight;
  padding: $mainPadding;
  overflow: auto;
  position: relative;
}

#sidenav {
  img {
    height: 1.5em;
    object-fit: contain;
  }

  span {
    padding-left: 0.5em;
    @media only screen and (max-width: 200px) {
      display: none;
    }
  }

  mat-nav-list {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8px);

    .mdc-list-item--with-leading-icon .mdc-list-item__start {
      margin-right: 0;
    }
  }

  .spacer {
    flex: 1;
  }
}
