$navHeight: 48px;

#navbar {
  height: $navHeight;
}

.logo {
  height: 32px;
  object-fit: contain;
}

#page {
  height: 100vh;
}

#main {
  height: calc(100vh - #{$navHeight});
  //margin-top: $navHeight;
}

#sidenav .mat-drawer-inner-container {
  justify-content: space-between center;
}
