<div *ngIf="activity">
  <h1>{{activity.name}} <button mat-mini-fab color="accent" (click)="refreshActivity()" id="refresh-fab" matTooltip="Refresh" [disabled]="busy"><mat-icon>refresh</mat-icon></button></h1>
  <div>
    <label>Period: </label>
    <span *ngIf="activity.periodCount && activity.periodUnit; else noPeriod">{{activity.periodCount}} {{units[activity.periodUnit]}}</span>
    <ng-template #noPeriod>none</ng-template>
  </div>
  <div>
    <label>Owner: </label>
    <span>{{activity.ownerName}}</span>
  </div>
  <ul>
    <li *ngFor="let participant of activity.participants">
      <span>{{participant.name}}</span>
      <span> {{participant.turnsNeeded}}</span>
    </li>
  </ul>
  <ul>
    <li *ngFor="let turn of activity.turns">
      <span>{{turn.occurred}}</span>
      <span> {{names.get(turn.userId)}}</span>
    </li>
  </ul>
  <div id="bottom-fab-container">
    <button mat-fab color="primary" (click)="takeTurn()" matTooltip="Take Turn" [disabled]="busy"><mat-icon>add</mat-icon></button>
    <button mat-mini-fab color="accent" (click)="takeTurnWithOptions()" matTooltip="Take Turn With Options" [disabled]="busy"><mat-icon>date_range</mat-icon></button>
  </div>
</div>
