$fabSpacing: 1em;

#bottom-fab-container {
  position: fixed;
  right: $fabSpacing;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  button {
    margin-bottom: $fabSpacing;
  }
}

table.padded td:not(:last-child) {
  padding-right: 1em;
}

#activity-wrapper > *:not(:first-child) {
  margin-top: 1em;
}

#load-turns {
  width: 100%;
}

#notifications td mat-checkbox {
  margin-left: 1em;
  margin-right: 1em;
}

tr.disabled {
  opacity: 0.4;
}

th.center {
  text-align: center;
}

mat-progress-spinner {
  margin: 1em auto;
}

.positioning-wrapper {
  position: relative;
}

#disabled-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
