$fabSpacing: 1em;

#bottom-fab-container {
  position: fixed;
  right: $fabSpacing;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-bottom: $fabSpacing;
  }
}

table.padded td:not(:last-child) {
  padding-right: 1em;
}

#activity-wrapper > *:not(:first-child) {
  margin-top: 1em;
}

#load-turns {
  width: 100%;
}

tr.disabled {
  opacity: 0.4;
}

th.center {
  text-align: center;
}

mat-progress-spinner {
  margin: 1em auto;
}

.positioning-wrapper {
  position: relative;
}

#disabled-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.standalone {
  text-align: center;
}

#activity-owner {
  position: absolute;
  top: 1em;
  right: 1em;
  label {
    margin-inline-end: 0.5em;
  }
}

#edit-menu {
  position: absolute;
  top: 0;
  right: 0;
}
