$fabSpacing: 1em;

#bottom-fab-container {
  position: fixed;
  right: $fabSpacing;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  button {
    margin-bottom: $fabSpacing;
  }
}

td:not(:last-child) {
  padding-right: 1em;
}

#activity-wrapper > *:not(:first-child) {
  margin-top: 1em;
}

#load-turns {
  width: 100%;
}
