@import '~@angular/material/theming';
@import 'app/app.component.shared-spacing.scss';
@import 'app/user/timer/timer.component.theme.scss';

@include mat-core();
/*
$mat-red
$mat-pink
$mat-purple
$mat-deep-purple
$mat-indigo
$mat-blue
$mat-light-blue
$mat-cyan
$mat-teal
$mat-green
$mat-light-green
$mat-lime
$mat-yellow
$mat-amber
$mat-orange
$mat-deep-orange
$mat-brown
$mat-grey
$mat-blue-grey
*/
// Available color palettes: https://material.io/design/color/
$dark-primary: mat-palette(
  $mat-blue
);
$dark-accent:  mat-palette(
  $mat-green
  , A200, A100, A400);
$dark-warn:    mat-palette(
  $mat-deep-orange
  );
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
@include timer-component-theme($dark-theme);

html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: mat-color($dark-primary);
$accent: mat-color($dark-accent);
$warn: mat-color($dark-warn);
$foreground: map-get($dark-theme, foreground);

.accent {
  color: $accent !important;
}

.primary {
  color: $primary !important;
}

.error-message, .warn {
  color: $warn !important;
}

label {
  color: $accent;
}

.secondary {
  color: mat-color($foreground, secondary-text);
}

.dark-backdrop {
  background-color: #00000060;
}

.main-filler {
  min-height: $paddedViewHeight;
}

snack-bar-container {
  &.info {
    color: $accent;
  }
  &.success {
    color: $primary;
  }
  &.error {
    color: $warn;
  }
}
