.error-message {
  text-align: center;
  font-weight: bold;
  min-height: 1em;
  line-height: 1em;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  gap: 0.5em;
  button {
    width: 100%;
  }
  mat-checkbox {
    display: block;
  }
}
