.error-message {
  text-align: center;
  font-weight: bold;
  min-height: 1em;
  line-height: 1em;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  button {
    width: 100%;
    &:not(:first-of-type) {
      margin-top: 0.5em;
    }
  }
  mat-checkbox {
    display: block;
    margin-top: 0.5em;
  }
}
